@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* header scroll */
  header.scroll div.top-0{
    background: #fff !important;
    color: #1a1a1a !important;
  }
  header.scroll .hidden.-order-1{
    display: flex !important;
  }
  header.scroll .flex.-order-1{
    display: none !important;
  }

  .menu-sub:hover .subitem{
    height: auto;
    transition: all 1s;
  }
  .menu-sub:hover .subitem ul{
    height: auto;
    transition: all 1s;
  }
  .section-content{
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
  }
  .collapse-content .collapse-title{
    font-size: 22px !important;
  }
  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative max-w-[1280px] mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}