@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /* aside */
  @media screen and (max-width: 1024px) {
    .drawer-side > *:not(.drawer-overlay){
      transform: translateY(-100%) !important;
    }
    .drawer-toggle:checked ~ .drawer-side > *:not(.drawer-overlay){
      transform: translateY(0) !important;
    }
  
  }
  

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  section#\31 053129964{
    margin-bottom: 90px !important;
  }
  section#\39 62415107{
    margin-bottom: -30px;
  }
  section#\31 992068234, section#\39 08709635 {
    margin-bottom: 0;
  }
  header .fixed{
    box-shadow: 0px 10px 30px 0px #0000000D;

  }
  section#\35 79867276, section#\33 451013133, section#\31 786006507, section#\33 405689579, section#\33 561688418{
    margin-bottom: 0 !important;
  }
  /* header scroll */
  header.home .bg-\[\#FFFFFF01\].fixed.w-full.z-50.text-\[\#fff\].top-0{
    background-color: transparent !important;
  }
  header.home.scroll .flex-none.flex.items-center.justify-end.gap-6.col-span-1.w-\[fit-content\].absolute.right-0.h-full.min-w-\[90px\].border-l.border-\[\#FFFFFF33\]{
    border-color: #1a1a1a50;
  }
 header.home.scroll .bg-\[\#FFFFFF01\].fixed.w-full.z-50.text-\[\#fff\].top-0{
    background: #fff !important;
    color: #1a1a1a !important;
  }
 header.home.scroll .hidden.-order-1{
    display: flex !important;
  }
 header.home.scroll .flex.-order-1{
    display: none !important;
  }
 header.home.scroll a.flex-grow.items-center.justify-center.hidden{
    display: flex !important;
  }
 header.home.scroll a.flex-grow.inline-flex.items-center.justify-center{
    display: none !important;
  }
  h1.text-border::after{
    top: 41px;
  }
  @media screen and (max-width: 768px) {
    .text-border::after{
      display: none !important;
    }
  }
  .text-border::after{
    content:"";
    height: 40px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: #0000001A;
  }

  .menu-sub:hover .subitem{
    height: auto;
    opacity: 1;
    transition: 1s ease-out;
    animation: fade-in 0.3s;
  }
  .menu-sub:not(:hover) .subitem{
    height: auto;
    opacity: 1;
    transition: 1s ease-out;
    animation: fade-out 0.3s;
  }
  .menu-sub:hover .subitem ul{
    height: auto;
    opacity: 1;
    /* animation: fade-in 1s; */
    /* transition: 1s ease-out; */
  }
  section{
    margin-bottom: 30px;
  }
  section .container{
    max-width: 1720px;
  }
  .item-card .left-top{
    position: absolute;
    bottom: 0;
    left: 0rem;
    transform: rotate(9deg);
    line-height: 1;
    top: auto;
  }
  .item-card .right-bottom{
    position: absolute;
    bottom: -48px;
    left: -21px;
    transform: rotate(9deg);
    line-height: 1;
    top: auto;
  }
  .collapse-content .collapse-title{
    font-size: 22px !important;
  }
  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}
.feature-card .arrow-link{
  transition: all 0.4s;
  border-radius: 0 0 0 30px;
}
.feature-card:hover .arrow-link{
  top: 0;
  right: 0;
  opacity: 1;
  transition: all 0.4s;
  background: #F5F7F9;
} 
.arrow-link{
  position: absolute;
  top: -20px;
  right: -20px;
  opacity: 0;
  background: transparent;
}
.left-top{
  position: absolute;
  top: 0;
  left: -2rem;
  transform: rotate(90deg);
  line-height: 1;
  
}
.partner .image::after{
  background: #f5f7f9;
  content: "";
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.partner:hover .image::after{
  background: linear-gradient(130deg, transparent, #fc6001);
  transition: all 0.4s;
  opacity: 1;
}
.content-top .partner{
  border-bottom: 0;
}
.bottom-four .partner:nth-child(2){
  border-right: none;
}
.partner{
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0;
}
.partner:nth-child(even){
  border-right: none;
}
.right-bottom{
  position: absolute;
  bottom: -2.1rem;
  right: -1px;
  transform: rotate(90deg);
  line-height: 1;
}

.arrow{
  border-radius: 0 0 0 30px;
  transition: all 0.4s;
  
}
.icon-arrow{
  border: 1px solid;
}
.icon-arrow:hover{
  background: #FC6001;
  transition: all 0.7s;

}

/* icons partner */
.top-left .top-right{
  right: 0;
  top: 0;
}
.icon-plus{
  position: absolute;
  z-index: 9;
}
.icon-plus::after{
  content: "+";
  color:#1A1A1A50 ;
  font-size: 40px;
  background: #F5F7F9;
  text-transform: uppercase;
  position: relative;
  top: -25px;
}
.top-left .top-right{
  right: -12px;
}
.top-left.icon-plus{
  top: 0;
  left: -12px;
}
.top-end.icon-plus{
  right: -12px;
  top: 0;
}
.top-center.icon-plus{
  left: 48%;
}
.bottom-four .top-center.icon-plus{
  left: 23.8%;
}
.bottom-four .top-right.icon-plus{
  right: 48.6%;
}
.top-middle.icon-plus{
  right: 23.7%;
}
.bottom-middle{
  right: 23.6%;
  bottom: 0;
}
.bottom-right{
  right: 48.6%;
  bottom: 0;
}
.bottom-center{
  left: 23.8%;
  bottom: 0;
}
.bottom-end{
  right: -12px;
  bottom: 0;
}
.bottom-left{
  left: -13px;
}
.bottom.icon-plus{
  bottom: 0;
  
}
.bottom.icon-plus::after{
  bottom: -24px;
  top: auto;
}

@media screen and (max-width: 768px) {
  .top-center.icon-plus{
    left: -12px !important;
    top: 49.3%;
  }
  .top-middle.icon-plus{
    top: 49.3%;
    right: 49.5%;
  }
  .bottom-middle.bottom.icon-plus{
    right: 0;
    top: 41.3%;
  }
  .bottom-four .top-right.icon-plus, .top-middle.icon-plus{
    right: 47%;
  }
  .bottom-four .top-end.icon-plus{
    right: -12px;
  }
  .bottom-middle, .bottom-end.bottom.icon-plus{
    right: -12px;
  }
  .bottom-right.bottom.icon-plus{
    right: 47%;
  }
}
html{
  overflow-x: hidden;
}
.legend_right{
  content: "";
  position: absolute;
  right: -15px;
  bottom: -2px;
}
.legend_left{
  content: "";
  position: absolute;
  left: -15px;
  bottom: -2px;
}
.px-9.pb-\[94px\].posts h1{
  border: none !important;
}
.px-9.pb-\[94px\].posts h1::after{
  display: none !important;
}
.bgwhite{
  background: #fff !important;
}

@media screen and (min-width: 1024px) {
  .block-dev:nth-child(1){
    width: 30%;
  }
  .block-dev:nth-child(2){
    width: 62%;
  }
}


@media screen and (min-width: 1024px) {
  .card-services{
    border-right: 1px solid #0000001A !important;
  }
}
@media screen and (min-width: 1024px) {
  .content-banner{
    margin-top: 243px;
  }
  .content-banner::before{
    content: "";
    display: block;
    position: absolute;
    top: -5rem;
    border: 1px solid #353535;
    border-radius: 50%;
    width: 100%;
    right: -50rem;
    height: 100%;
    z-index: -5;
  }
  
}
a.btn-service{
  position: relative;
}
a.btn-service:hover::after{
  width: 110%;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
}
a.btn-service::after{
  content: "";
  background: #0000000D;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 40px;
  display: block;
  width: 40px;
  transition: all 0.4s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    height: 0;
    transform: translateY(-10%);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    height: fit-content;
    transform: translateY(0%);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0.7;
    transform: translateY(-5%);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}
@layer components {
  .features {
    @apply flex items-center justify-center gap-6 flex-wrap;
    @apply relative w-full mx-auto;
  }

  .feature-card {
    @apply w-[380px] max-w-[380px] lg:h-[380px] bg-[#F4F4F4] rounded-3xl;
    @apply border-l border-transparent duration-200 whitespace-pre-line text-center;
    @apply flex flex-col items-center justify-start gap-8 py-10 px-8 lg:px-12;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}
